div.topbox {
    width:600px; height:100px;
    background-color:green;
    margin: auto;
    text-align: center;
    }

div.button_box {
    width:600px; height:300px;
    background-color: gray;
    margin: auto;
    text-align: center;
    }

div.secondbox {
    width:600px;
    background-color:aqua;
    margin: auto;
    text-align: center;
    }
P{
    margin-top:  10px;
    /* line-height: 1; */
}

h1{
    margin-top:  10px;
}

.button-simple {
    position: relative;
    font-weight: bold;
    padding: 5px 15px;
    margin: 0px 5px;
    border-radius: 30px;/*角の丸み*/
    font-size: 18px;/*文字サイズ*/
    background-color: #00a41a;/*背景色*/
    color: #fff;/*文字色*/
    display: inline-block;
    text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.3);
    box-shadow: 0 3px 0 rgb(0, 0, 0, 0.3);
    gap: 1em;
}

a:hover .button-simple {
    background-color: #cc0000;/*触れたときの背景色*/
    color: #fff;/*触れたときの文字色*/
    box-shadow: 0 0px 0 rgb(0, 0, 0, 0.3);
    animation-play-state: paused;
    top: 3px;
}

.dokidoki {
    animation: dokidoki 0.8s infinite;
}
@keyframes dokidoki {
    0% {
        transform: scale(1.05)
    }
    5% {
        transform: scale(1)
    }
    95% {
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.05)
    }
}

.purupuru2 {
    animation: purupuru2 0.1s infinite;
}
@keyframes purupuru2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.98, 0.95)
    }
}

#button
{
  display: inline-block;
  cursor: pointer;
}

#button.jump
{
  animation: 0.4s cubic-bezier(.2,1,.2,1) 0s 1 jump;
}

@keyframes jump
{
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-40px); }
}


.pyonpyon span {
    animation: pyon 0.3s linear;
    position: relative;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}
/* 
.icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
  }
 */
